
<%- include('header') -%>
    <title>Login</title>

    <div class="container text-center border border-light rounded" style="padding:2%; margin-top: 1%;">
        <h1 id="indiv-h1" class="d-inline">Login</h1>
    </div>

    <div class=" d-flex container bg-dark text-light border border-light rounded text-center" style="padding: 2%; margin-top: 2%; margin-bottom: 2%;">
        <div class="align-items-left border-right border-light" style="margin-left: 27%; padding: 2%;">
            <form id="login-form">
                <div class="form-group">
                    <label for="username-input">Username</label>
                    <input type="text" class="form-control" name="username-input" id="username" placeholder="Your username" required>
                </div>

                <div class="form-group">
                    <label for="password-input">Password</label>
                    <input type="password" class="form-control" id="password" name="password-input" placeholder="Your password" required>
                </div>

                <button type="submit" class="btn btn-primary bg-dark text-warning border-light d-inline">Login</button>
            </form>
        </div>

        <div class="align-items-right text-center">
            <img src="https://c.tenor.com/SkxUxhVFvF4AAAAi/wave-hello.gif" alt="" style="width: 10rem;">
            <p style="margin-left: 30%">Welcome back!</p>
        </div>
    </div>

    <script>
        window.onload = function()
        {
            isLoggedIn();  // when the page loads call isLoggedIn
        }

        function formValidator(event)
        {
            event.preventDefault(); // always prevent default events when using javascript
            // get the value the in the username box 
            let username = document.getElementById("username").value; 
            // get the value in the password box
            let password = document.getElementById("password").value;
            if( username == ""){
                alert("Username cannot be null");
            }
            else if (password == ""){
                alert("Password cannot be null");
            }
            else{
                fetch("http://127.0.0.1:8000/api/token/", {
                    method: 'POST',
                    headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({username: username, password: password})
                }).then(response=>response.json())
                .then(data=>{
                    console.log(data); // still log it so we can debug
                    if('access' in data){
                        let accessToken = data['access'];
                        let refreshToken = data['refresh'];
                        localStorage.setItem("access", accessToken);
                        localStorage.setItem("refresh", refreshToken);
                        window.location.href = "/"; // the "/" is the homepage for node http://127.0.0.1:3000
                    }
                    else{
                        alert("username or password invalid");
                    }
                });
            }
        }

    let myform = document.getElementById("login-form"); // get the form 
    myform.addEventListener('submit', formValidator); // bind the validator function to the submit button for the form

    </script>
    <%- include('footer') -%>