/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e7577e;
} */

/* a {
  color: #e7577e;
} */

/* #loading {
  background: url('https://c.tenor.com/RGTKIMlyTJoAAAAi/rolling-cat-cat-rolling.gif') no-repeat center center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999;
} */
